@import '../Abstract/variaveis';

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 8%;
    margin-bottom: 15px;
    box-shadow: 2px 0px 5px black;
    background-image: linear-gradient(to top, $cor-3, $cor-4);
}

.cabecalho__imagem {
    min-width: 100px;
    max-width: 250px;
    height: 85px;
}