@import './variaveis';

* {
    padding: 0px;
    margin: 0px;
    font-family: $fonte-padrao;
}

body {
    background: $cor-fundo url(../../Images/fundo.webp) center center / cover no-repeat fixed;
    line-height: 30px;
    &::-webkit-scrollbar{
        background-color: $cor-1;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: $cor-2;
        border: 2px solid $cor-4;
    }
    &::-webkit-scrollbar-corner {
        display: none;
    }
}