@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 8%;
  box-shadow: 2px 0px 5px black;
  background-image: linear-gradient(to top, #E25E3E, #C63D2F);
}

.cabecalho__imagem {
  min-width: 100px;
  max-width: 250px;
  height: 85px;
}

.principal {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  height: 100vh;
  background: rgba(51, 15, 11, 0.431372549);
}

.bebidas__container {
  display: flex;
  margin: 10px auto;
  background-color: #FFBB5C;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  align-items: center;
  border: 3px solid #C63D2F;
  gap: 10px;
  overflow-x: scroll;
  box-shadow: 0px 0px 10px rgba(255, 156, 80, 0.596);
}
.bebidas__container h1 {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.445);
}
.bebidas__container::-webkit-scrollbar {
  background-color: #FF9B50;
  border-radius: 10px;
  height: 10px;
}
.bebidas__container::-webkit-scrollbar-thumb {
  background: #E25E3E;
  border-radius: 10px;
}
.bebidas__container::-webkit-scrollbar-corner {
  display: none;
}
.bebidas__container .bebida {
  background-color: #FF9B50;
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
  border: 3px solid #C63D2F;
}

.acompanhamentos__container {
  display: flex;
  margin: 10px auto;
  background-color: #FFBB5C;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  align-items: center;
  border: 3px solid #C63D2F;
  gap: 10px;
  overflow-x: scroll;
  box-shadow: 0px 0px 10px rgba(255, 156, 80, 0.596);
}
.acompanhamentos__container h1 {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.445);
}
.acompanhamentos__container::-webkit-scrollbar {
  background-color: #FF9B50;
  border-radius: 10px;
  height: 10px;
}
.acompanhamentos__container::-webkit-scrollbar-thumb {
  background: #E25E3E;
  border-radius: 10px;
}
.acompanhamentos__container::-webkit-scrollbar-corner {
  display: none;
}
.acompanhamentos__container .acompanhamento {
  background-color: #FF9B50;
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
  border: 3px solid #C63D2F;
}

.porcoes__container {
  display: flex;
  margin: 10px auto;
  background-color: #FFBB5C;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  align-items: center;
  border: 3px solid #C63D2F;
  gap: 10px;
  overflow-x: scroll;
  box-shadow: 0px 0px 10px rgba(255, 156, 80, 0.596);
}
.porcoes__container h1 {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.445);
}
.porcoes__container::-webkit-scrollbar {
  background-color: #FF9B50;
  border-radius: 10px;
  height: 10px;
}
.porcoes__container::-webkit-scrollbar-thumb {
  background: #E25E3E;
  border-radius: 10px;
}
.porcoes__container::-webkit-scrollbar-corner {
  display: none;
}
.porcoes__container .porcao {
  background-color: #FF9B50;
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
  border: 3px solid #C63D2F;
}

.botao {
  display: block;
  margin: auto;
  background-image: linear-gradient(to top, #E25E3E 40%, #C63D2F);
  height: 30px;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #C63D2F;
  transition: 0.15s;
}
.botao:hover {
  background-image: linear-gradient(to top, #C63D2F 40%, #E25E3E);
  border: 2px solid #E25E3E;
  width: 85%;
  height: 35px;
}

.rodape {
  position: absolute;
  width: calc(100% - 20px);
  bottom: 0;
  height: 8%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0px 5px black;
  background-image: linear-gradient(to bottom, #E25E3E, #C63D2F);
  position: fixed;
}
.rodape i {
  font-size: 32px;
}
.rodape .valor__total {
  text-align: center;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Rowdies", cursive;
}

body {
  background: #F4F2DE url(../../Images/fundo.webp) center center/cover no-repeat fixed;
  line-height: 30px;
}
body::-webkit-scrollbar {
  background-color: #FFBB5C;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #FF9B50;
  border: 2px solid #C63D2F;
}
body::-webkit-scrollbar-corner {
  display: none;
}/*# sourceMappingURL=style.css.map */